# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Uploads
/src/tmp/uploads/*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# Envs
*.env

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Keep directory
!/src/tmp/uploads/.gitkeep

# Keep env sample
!sample.env