{
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": true,
  "useTabs": false,
  "semi": true,
  "endOfLine": "auto",
  "tabWidth": 4,
  "singleQuote": true,
  "printWidth": 80,
  "parser": "typescript",
  "overrides": [{
    "files": ["*.json", "*.md", ".prettierrc", ".eslintrc"],
    "options": {
      "tabWidth": 2,
      "printWidth": 80
    }
  }]
}